Remote Jobs Pipeline.json
{
  "name": "Remote Jobs Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "fdb402c4-8d84-4927-85d2-b63554ae6f02",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        1392
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "184KEvemtpYhWiXRKR1g_obk13eQN4FPWzW2IjmVTAU4",
          "mode": "list",
          "cachedResultName": "Remote Jobs Feed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/184KEvemtpYhWiXRKR1g_obk13eQN4FPWzW2IjmVTAU4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/184KEvemtpYhWiXRKR1g_obk13eQN4FPWzW2IjmVTAU4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "category": "={{ $json.category }}",
            "location": "={{ $json.location }}",
            "salary": "={{ $json.salary }}",
            "url": "={{ $json.url }}",
            "description": "={{ $json.description }}",
            "posted_at": "={{ $json.posted_at }}",
            "scraped_at": "={{ $json.scraped_at }}"
          },
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scraped_at",
              "displayName": "scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ecaf2c1c-e30e-42cd-b819-c3777412ca87",
      "name": "Save Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        1392
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RiGUz7y8heRDkSEu",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs?category=software-development",
        "options": {}
      },
      "id": "56cb2582-6bc8-4e63-8404-f1db985e3b62",
      "name": "Fetch Jobs API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "const HTML_TAG_PATTERN = /<[^>]*>?/gm;\nconst WHITESPACE_PATTERN = /\\s+/g;\nconst DESCRIPTION_MAX_LENGTH = 200;\n\nfunction stripHtml(text) {\n  return (text || '')\n    .replace(HTML_TAG_PATTERN, '')\n    .replace(WHITESPACE_PATTERN, ' ')\n    .trim();\n}\n\nfunction truncate(text, max) {\n  return text.length > max ? text.substring(0, max) + '...' : text;\n}\n\nconst jobs = $input.first().json.jobs || [];\n\nreturn jobs.map((job) => ({\n  json: {\n    job_id: String(job.id || ''),\n    title: job.title || '',\n    company: job.company_name || '',\n    category: job.category || '',\n    location: job.candidate_required_location || 'Worldwide',\n    salary: job.salary || 'Not specified',\n    url: job.url || '',\n    description: truncate(stripHtml(job.description || ''), DESCRIPTION_MAX_LENGTH),\n    posted_at: job.publication_date || '',\n    scraped_at: new Date().toISOString()\n  }\n}));"
      },
      "id": "ba50e94a-2252-4b04-93bc-8b09ed95748e",
      "name": "Normalize Jobs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1392
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Fetch Jobs API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs API1": {
      "main": [
        [
          {
            "node": "Normalize Jobs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Jobs1": {
      "main": [
        [
          {
            "node": "Save Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "69f26ef1-d893-47ab-8114-444e429d6d94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3543723081b3659df7c220ab3a2779bdba28754d65e1bc05a2b28f57a2621252"
  },
  "nodeGroups": [],
  "id": "hIaPxmX6EBqTZEFF",
  "tags": []
}